# Database
DATABASE_URL=xxx

# Vercel
BLOB_READ_WRITE_TOKEN=xxx
CRON_SECRET=xxx

# JWT
JWT_SECRET=xxx

# ReSend API Key
RESEND_SENDER_EMAIL=xxx
RESEND_API_KEY=xxx

# GitHub Token for Changelog
GITHUB_REPO_TOKEN=xxx